*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    background-color: #dee2e6;
}

.menu-todo {
    display: relative;
    background-color: #286478;
    height: 100vh;
    width: 200px;
    padding: 20px 0;
    border-bottom: 1px solid #fff;
    box-shadow: 5px 0 10px rgba(0, 0, 0, .6);
}

.logo {
    display: relative;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    padding-left: 50px;
}

.menu_items {
    display: relative;
    list-style: none;
    margin-left: 30px;
    margin-top: 30px;
}

.menu_items li {
    border-radius: 3px;
    margin: 0 5px;
    padding: 0 -50px;
    border: none;
    border-bottom: solid 2px #fff;
}

.menu_items li a {
    padding: 7px 13px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    text-transform: uppercase;
    color: #fff;
}

.menu_items li:hover {
    background-color: #1e4a58;
    transition: .4s;
}

#logout {
    border: none;
    position: absolute;
    bottom: 5px;
    left: 70px;
}

#logout-icon {
    border: none;
    position: absolute;
    bottom: 10px;
    left: 50px;
}

.main_content {
    position: absolute;
    top: 0;
    background-color: White;
    height: 100vh;
    margin-left: 210px;
    width: calc(100% - 200px);
    padding: 20px 0;
}

.main_content .header {
    padding: 20px;
    background: #fff;
    color: #717171;
    border-bottom: 1px solid #e0e4e8;
}

.main_content .info {
    margin: 20px;
    color: #717171;
    line-height: 25px;
}

.main_content .info div {
    margin-bottom: 20px;
}

.btn_menu {
    margin-right: 30px;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    display: none;
}

.menu_items.show {
    top: 65px;
}


/* Le damos estilo al boton dropbox con los mismos estilos que los li a */

.dropbtn {
    background-color: #286478;
    padding: 7px 12.5px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    text-transform: uppercase;
    border: none;
    color: #fff;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}


/* el contenedor  configuramos la posicion*/

.dropdown {
    position: center;
    display: block;
    margin: 0 5px;
    width: auto;
    border-bottom: solid 2px #fff;
}


/* Dropdown Contenido (lo que esta oculto) */

.dropdown-content {
    display: none;
    position: relative;
    background-color: #1c4755;
    z-index: 1;
}


/* Texto dentro del dropbox */

.dropdown-content a {
    color: #fff;
    padding: 12px 40px;
    text-decoration: none;
    display: block;
}


/* cambiamos el color del hover */

.dropdown-content a:hover {
    background-color: #265c6d;
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
    align-content: center;
}


/* cambiamos el color del boton cuando lo presionamos */

.dropdown:hover .dropbtn {
    background-color: #1e4a58;
}

.div-contenido {
    display: absolute;
    position: absolute;
    top: 0;
    left: 210px;
    background-color: #fff;
    width: calc(100% - 210px);
    height: 100vh;
}


/*====CSS DEL HOME====*/


/*== Aca encontraremos lod estilos que usaremos para los textos*/


/*de cada pantalla en el encabezado==*/


/*===TABLA===*/

.tabla {}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: 0;
    justify-content: center;
    color: #858796;
}

.custab {
    border: 1px solid rgb(146, 146, 146);
    margin: 5% 0;
    transition: 0.5s;
    border-collapse: collapse;
}

.custab td {
    border: 1px solid rgb(146, 146, 146);
    padding: 5px 5px 5px 5px;
}

thead tr th {
    justify-content: center;
    padding: 5px 5px 5px 5px;
    border: 1px solid rgb(146, 146, 146);
    margin: 50px;
}

tr {
    justify-content: center;
    background-color: #fff;
    padding: 5px;
}

thead th {
    font-style: bold;
}

.cuerpo-tabla tr:hover {
    background-color: #286478;
}

.cuerpo-tabla tr td {
    text-align: center;
    border: 1px solid rgb(146, 146, 146);
}


/*===FIN TABLA===*/


/*===TABLA EMP===*/

.container-emp {
    display: flex;
    flex-wrap: wrap;
    align-items: 0;
    justify-content: center;
    color: #858796;
}

.custab-emp {
    border: 1px solid rgb(146, 146, 146);
    margin: 5% 0;
    transition: 0.5s;
    border-collapse: collapse;
}

.custab-emp td {
    border: 1px solid rgb(146, 146, 146);
    padding: 5px 5px 5px 5px;
}

.custab-emp thead tr th {
    justify-content: center;
    padding: 5px 5px 5px 5px;
    border: 1px solid rgb(146, 146, 146);
    margin: 50px;
}

.custab-emp tr {
    justify-content: center;
    background-color: #fff;
    padding: 5px;
}

.custab-emp thead th {
    font-style: bold;
}

.cuerpo-tabla-emp tr:hover {
    background-color: #286478;
}

.cuerpo-tabla-emp tr td {
    text-align: center;
    border: 1px solid rgb(146, 146, 146);
}

.pint {}


/*=======FIN======*/


/*===BARRA DE BUSQUEDA===*/

.barra-busqueda {
    display: flex;
}

.barra-busqueda form {
    display: flex;
    margin-left: 20px;
    align-items: center;
}

.barra-busqueda input {
    height: 30px;
    border-radius: 10px;
    border: 1px solid rgb(245, 245, 245);
}

.barra-busqueda button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    border-radius: 5px;
}


/*===FIN BARRA BUSQUEDA==*/

.div-encabezado {
    display: flex;
    background-color: #fff;
    height: 50px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(233, 233, 233);
}

.menu-barratop-items {
    display: flex;
    list-style: none;
    margin-right: 80px;
}

.menu-barratop-items li {
    border-radius: 3px;
}

.menu-barratop-items li a {
    padding: 7px 13px;
    text-decoration: none;
    font-size: 10px;
    display: block;
    text-transform: uppercase;
    color: #333;
}

.menu-barratop-items li a:hover {
    padding: 7px 13px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    text-transform: uppercase;
    color: #1e4a58;
    transition: 1s;
}

.texto-encabezado-nav {
    display: relative;
    color: #343434;
    font-size: 25px;
    font-weight: bold;
    padding-left: 50px;
}

.div-encabezado-opciones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height: 35px;
    width: 100%;
    border-bottom: 1px solid rgb(233, 233, 233);
}

.menu-barratop-opciones-items {
    display: flex;
    list-style: none;
    margin-right: 5px;
}

.menu-barratop-opciones-items li {
    border-radius: 3px;
}

.menu-barratop-opciones-items li a {
    padding: 4px 13px;
    text-decoration: none;
    font-size: 10px;
    display: block;
    color: #333;
}

.menu-barratop-opciones-items li a:hover {
    text-decoration: none;
    color: blue;
    transition: 1s;
    font-weight: bold;
}

.btn_menu1 box-icon {
    color: #fff;
    cursor: pointer;
    display: none;
}


/*notificaciones*/

#burbuja {
    position: absolute;
    background-color: red;
    width: 10px;
    height: 10px;
    -moz-border-radius: 5%;
    -webkit-border-radius: 5%;
    border-radius: 50%;
}


/*=================*/


/*==PROYECTOS==*/

.main-cont {
    overflow: scroll;
    height: calc(100% - 85px);
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(214, 214, 214);
    height: calc();
}


/*==FIN ==*/

.div-listaproyecto,
.div-empleados {
    width: 100%;
    min-width: 50px;
}


/*==PROYECTOS==*/

.div-listaproyecto {
    width: 100%;
    margin: 10px 0px 10px 10px;
    background-color: #fff;
    border-radius: 20px;
}


/*==FIN ==*/


/*==GRAFICOS==*/

.div-grafico {
    width: 100%;
    margin: 10px 0px 10px 10px;
    padding-left: 10px;
    background-color: #fff;
    border-radius: 20px;
}

.div-grafico-gra {
    padding-bottom: 50px;
}


/*==FIN ==*/


/*==EMPLEADOS==*/

.div-reportes {
    width: 100%;
    margin: 0px 10px 10px 10px;
    padding: 0 20px 10px 20px;
    background-color: #fff;
    border-radius: 20px;
}

.div-solicitud {
    display: none;
    position: absolute;
    padding: 10px 10px 10px 10px;
    border: 2px solid #000;
    border-radius: 10px;
    left: 30%;
    top: 10%;
    width: 700px;
    height: 500px;
    background-color: #fff;
}

.div-not {
    display: none;
    position: absolute;
    padding: 10px 10px 10px 10px;
    border: 2px solid #000;
    border-radius: 10px;
    left: 30%;
    top: 10%;
    width: 700px;
    height: 500px;
    background-color: #fff;
}

.boton-invisible {
    border: none;
    background-color: transparent;
}


/*==FIN ==*/


/*====FIN DEL HOME====*/

@media (min-width: 800px) {
    .div-listaproyecto {
        width: 58.5%;
        order: 0;
    }
    .div-grafico {
        width: 39%;
        order: 1;
    }
    .div-reportes {
        width: 100%;
        order: 2;
    }
    .div-calendario h1 {
        font-size: 20px;
    }
}

@media (max-width: 400px) {
    .tabla {
        overflow: scroll;
    }
}

@media screen and (max-width: 952px) {
    .logo {
        font-size: 30px;
        padding-left: 35px;
    }
    .menu_items li a {
        font-size: 16px;
    }
}

@media screen and (max-width: 858px) {
    .menu {
        height: 65px;
    }
    thead tr th {
        justify-content: center;
        padding: 5px 5px 5px 5px;
        border: 1px solid rgb(146, 146, 146);
    }
    .menu-todo {
        background-color: #286478;
        z-index: 3;
        width: 100vw;
        height: calc(100% - 65px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #fff;
        box-shadow: 5px 0 10px rgba(0, 0, 0, .6);
    }
    .btn_menu {
        display: inline-flex;
    }
    .menu_items {
        position: fixed;
        z-index: 3;
        margin: 0;
        width: 100vw;
        height: calc(100% - 65px);
        background: #183c48;
        top: -150vh;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
    }
    #logout {
        border-top: 2px solid #fff;
        position: relative;
        left: 0px;
        margin-top: 55vh;
    }
    #logout-icon {
        display: none;
    }
    .dropbtn {
        background-color: #286478;
        padding: 20px 0 10px 0;
        line-height: 30px;
        text-decoration: none;
        font-size: 20px;
        display: block;
        text-transform: uppercase;
        border: none;
        color: #fff;
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
        font-weight: bold;
    }
    .dropdown {
        display: flex;
        margin: 0;
        width: 100vw;
        background: #286478;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
    }
    /* Texto dentro del dropbox */
    .dropdown-content a {
        color: #fff;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .dropdown-content {
        display: relative;
        position: relative;
        background-color: #286478;
        min-width: 160px;
        z-index: 1;
    }
    .menu_items li {
        margin: 30px 0 0 0;
        line-height: 30px;
    }
    .menu_items li:hover {
        background-color: none;
    }
    .menu_items li a {
        font-size: 20px;
        color: #fff;
        font-weight: bold;
    }
    .menu_items li a:hover {
        color: #fff
    }
    .logo {
        font-size: 25px;
        padding-left: 35px;
    }
    .dropbtn {
        display: block;
        background-color: #183c48;
    }
    .div-contenido {
        display: absolute;
        position: absolute;
        top: 80px;
        left: 0;
        background-color: transparent;
        width: 100vw;
        height: calc(100% - 80px);
    }
    .div-encabezado {
        display: absolute;
    }
    .btn_menu1 box-icon {
        display: inline-flex;
        margin-left: 10px;
        margin-right: 5px;
    }
    .div-encabezado-opciones li {
        display: none;
    }
    .div-encabezado-opciones {
        display: absolute;
    }
    #burbuja {
        display: none;
    }
    #burbuja1 {
        position: absolute;
        right: 87px;
        background-color: red;
        width: 10px;
        height: 10px;
        -moz-border-radius: 5%;
        -webkit-border-radius: 5%;
        border-radius: 50%;
    }
    .main-cont {
        display: relative;
    }
}

@media screen and (max-width: 858px) and (orientation: landscape) {
    .menu_items li {
        margin: 5px 0 0 0;
    }
    .menu_items {
        overflow: scroll;
        height: calc(100% - 65px);
    }
}