{% extends "layout.html" %} {% block content %}
<!----===== HOME ===== -->

<title>SCISA-Home</title>
<!----===== CSS ===== -->
<link rel="stylesheet" href="../static/diseño.css" />
<link rel="stylesheet" href="../static/formularios.css" />
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
  integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"
></script>
<script src="../static/js/app.js"></script>
<script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>
<nav class="div-encabezado">
  <label class="texto-encabezado-nav">HOME</label>
</nav>

<nav class="div-encabezado-opciones">
  <div class="barra-busqueda">
    <form action="#">
      <button>
        <box-icon name="search"></box-icon>
      </button>
      <input type="text" placeholder=" Busqueda de Proyecto" name="busqueda" />
    </form>
  </div>
  <span class="btn_menu1">
    <ul class="menu-barratop-opciones-items">
      {% if session.user %} {% if session.userrole == 1%}
      <!-- admin -->
      {% if soli%} {%set var = [] %} {% for list in soli %} {% if
      list.NombreEstado == "Pendiente"%} {%do var.append(1)%} {% endif%}
      {%endfor%} {% if var %}
      <box-icon type="solid" onclick="notificacion()" name="bell"></box-icon
      ><span id="burbuja1"></span>
      <li>
        <a href="#" onclick="notificacion()"
          >Notificaciones<span id="burbuja"></span
        ></a>
      </li>
      {%else%}
      <box-icon type="solid" onclick="notificacion()" name="bell"></box-icon>
      <li><a href="#" onclick="notificacion()">Notificaciones</a></li>
      {% endif%} {%else%}
      <box-icon type="solid" onclick="notificacion()" name="bell"></box-icon>
      <li><a href="#" onclick="notificacion()">Notificaciones</a></li>
      {% endif%}
      <box-icon type="solid" onclick="reportes()" name="report"></box-icon>
      <li><a href="#" onclick="reportes()">Reportes</a></li>
      <box-icon
        name="calendar"
        data-toggle="modal"
        data-target="#myModal"
        onclick="calendario()"
      ></box-icon>
      <li>
        <a
          href="#"
          data-toggle="modal"
          data-target="#myModal"
          onclick="calendario()"
          >Calendario</a
        >
      </li>
      {%else%}
      <!-- Empleado -->
      {% if soli%} {%set var = [] %} {% for list in soli %} {% if
      list.NombreEstado == "Aceptado" and list.Vigencia == 1%} {%do
      var.append(1)%} {% endif%} {%endfor%} {% if var %}
      <box-icon type="solid" onclick="notificacion()" name="bell"></box-icon
      ><span id="burbuja1"></span>
      <li>
        <a href="#" onclick="notificacion()"
          >Notificaciones<span id="burbuja"></span
        ></a>
      </li>
      {%else%}
      <box-icon type="solid" onclick="notificacion()" name="bell"></box-icon>
      <li><a href="#" onclick="notificacion()">Notificaciones</a></li>
      {% endif%} {%else%}
      <box-icon type="solid" onclick="notificacion()" name="bell"></box-icon>
      <li><a href="#">Notificaciones</a></li>
      {% endif%}
      <box-icon name="spreadsheet"></box-icon>
      <li><a href="#" onclick="solicitud()">Solicitud</a></li>
      <li><a href="#" onclick="reportellen1()">Reportes</a></li>
      {% endif%} {% endif%}
    </ul>
  </span>
</nav>
{% if session.user %} {% if session.userrole == 1%}
<main class="main-cont">
  <div class="div-listaproyecto">
    <label class="texto-encabezado-nav">Proyectos</label>
    <hr />
    <div class="sele-mes">
      <form class="form-bot-lat" action="/home" method="POST">
        <div class="grupo">
          <button class="boton-invisible" type="submit">
            <label class="text-sele" for="inputGroupSelect01">Elegir</label>
          </button>
        </div>
        <select class="custom-select" id="inputGroupSelect01" name="selec-mes">
          <option value="todo" selected="true">Todos</option>
          <option value="01">Enero</option>
          <option value="02">Febrero</option>
          <option value="03">Marzo</option>
          <option value="04">Abril</option>
          <option value="05">Mayo</option>
          <option value="06">Junio</option>
          <option value="07">Julio</option>
          <option value="08">Agosto</option>
          <option value="09">Septiembre</option>
          <option value="10">Octubre</option>
          <option value="11">Noviembre</option>
          <option value="12">Diciembre</option>
        </select>
      </form>
    </div>

    <div class="container">
      <div class="tabla">
        <!-- aqui va cuando selecciona un mes -->
        {% if indice == "todo"%}
        <form action="/home1" method="POST">
          <table class="custab">
            <thead>
              <tr>
                <th>ID Proyecto</th>
                <th>Nombre Proyecto</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
                <th>Estado</th>
                <th>Responsable</th>
                <th class="text-center">Action</th>
              </tr>
            </thead>
            <tbody class="cuerpo-tabla">
              {% for fila in pro %}

              <tr>
                <td>{{ fila.Id_Proyecto }}</td>
                <td>{{ fila.NombreProyecto}}</td>
                <td>{{ fila.FechaHoraInicio}}</td>
                {% if fila.FechaHoraFin == "NULL"%}
                <td>--</td>
                {%else%}
                <td>{{ fila.FechaHoraFin}}</td>
                {% endif%} {% if fila.NombreEstado == "Completado"%}
                <td class="completo">
                  <text class="textoc">{{ fila.NombreEstado}}</text>
                </td>
                {% elif fila.NombreEstado == "Incompleto"%}
                <td class="incompleto">
                  <text class="textoi">{{ fila.NombreEstado}}</text>
                </td>
                {%else%}
                <td class="progreso">
                  <text class="textop">{{ fila.NombreEstado}}</text>
                </td>
                {% endif%}
                <td>{{ fila.Nombre}}</td>
                <td class="text-center">
                  <a href="{{ url_for( 'home1' ,info=fila.Id_Proyecto) }}">
                    <box-icon
                      name="show"
                      type="solid"
                      color="#3075c9"
                    ></box-icon>
                  </a>
                </td>
              </tr>

              {% endfor %}
            </tbody>
          </table>
        </form>

        <!-- aqui va cuando selecciona todo-->
        {%elif indice == "mes"%}
        <form action="/home" method="POST">
          <table class="custab">
            <thead>
              <tr>
                <th>ID Proyecto</th>
                <th>Nombre Proyecto</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
                <th>Estado</th>
                <th>Responsable</th>
                <th class="text-center">Action</th>
              </tr>
            </thead>
            <tbody class="cuerpo-tabla">
              {% for fila in pro_espe %}
              <tr>
                <td>{{ fila.Id_Proyecto }}</td>
                <td>{{ fila.NombreProyecto}}</td>
                <td>{{ fila.FechaHoraInicio}}</td>
                {% if fila.FechaHoraFin == "NULL"%}
                <td>--</td>
                {%else%}
                <td>{{ fila.FechaHoraFin}}</td>
                {% endif%} {% if fila.NombreEstado == "Completado"%}
                <td class="completo">
                  <text class="textoc">{{ fila.NombreEstado}}</text>
                </td>
                {% elif fila.NombreEstado == "Incompleto"%}
                <td class="incompleto">
                  <text class="textoi">{{ fila.NombreEstado}}</text>
                </td>
                {%else%}
                <td class="progreso">
                  <text class="textop">{{ fila.NombreEstado}}</text>
                </td>
                {% endif%}
                <td>{{ fila.Nombre}}</td>
                <td class="text-center">
                  <box-icon
                    name="show"
                    onclick="salida()"
                    type="solid"
                    color="#3075c9"
                  ></box-icon>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </form>
        <!-- aqui va cuando selecciona un mes que no hay registros-->
        {%else%}
        <form action="/home" method="POST">
          <table class="custab">
            <thead>
              <tr>
                <th>ID Proyecto</th>
                <th>Nombre Proyecto</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
                <th>Estado</th>
                <th>Responsable</th>
                <th class="text-center">Action</th>
              </tr>
            </thead>
            <tbody class="cuerpo-tabla">
              {% for fila in pro %}
              <tr>
                <td>{{ fila.Id_Proyecto }}</td>
                <td>{{ fila.NombreProyecto}}</td>
                <td>{{ fila.FechaHoraInicio}}</td>
                {% if fila.FechaHoraFin == "NULL"%}
                <td>--</td>
                {%else%}
                <td>{{ fila.FechaHoraFin}}</td>
                {% endif%} {% if fila.NombreEstado == "Completado"%}
                <td class="completo">
                  <text class="textoc">{{ fila.NombreEstado}}</text>
                </td>
                {% elif fila.NombreEstado == "Incompleto"%}
                <td class="incompleto">
                  <text class="textoi">{{ fila.NombreEstado}}</text>
                </td>
                {%else%}
                <td class="progreso">
                  <text class="textop">{{ fila.NombreEstado}}</text>
                </td>
                {% endif%}
                <td>{{ fila.Nombre}}</td>
                <td class="text-center">
                  <box-icon
                    name="show"
                    onclick="salida()"
                    type="solid"
                    color="#3075c9"
                  ></box-icon>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </form>
        {%endif%}
      </div>
    </div>
  </div>
  <div class="div-grafico">
    <text class="oculto" id="completado">{{comp}}</text>
    <text class="oculto" id="incompleto">{{inco}}</text>
    <text class="oculto" id="progreso">{{prog}}</text>
    <label class="texto-encabezado-nav">Estadísticas del mes</label>
    <hr />
    <div class="div-grafico-gra">
      <canvas id="myChart"></canvas>
    </div>
    <div class="b-skills">
      <div class="container">
        <div class="row">
          <div class="col-sm col-sm col-sm">
            <div class="skill-item center-block">
              <div class="chart-container">
                <div
                  class="chart"
                  data-percent="{%if incompleto%}{{incompleto}}{%else%}0{%endif%}"
                  data-bar-color="#c63637"
                >
                  <span class="percent" data-after="%">{{incompleto}}</span>
                </div>
              </div>

              <p>Incompletos</p>
            </div>
          </div>

          <div class="col-sm col-sm col-sm">
            <div class="skill-item center-block">
              <div class="chart-container">
                <div
                  class="chart"
                  data-percent="{%if completo%}{{completo}}{%else%}0{%endif%}"
                  data-bar-color="#006c0f "
                >
                  <span class="percent" data-after="%">{{completo}}</span>
                </div>
              </div>

              <p>Completado</p>
            </div>
          </div>

          <div class="col-sm col-sm col-sm">
            <div class="skill-item center-block">
              <div class="chart-container">
                <div
                  class="chart"
                  data-percent="{%if progreso%}{{progreso}}{%else%}0{%endif%}"
                  data-bar-color=" yellow"
                >
                  <span class="percent" data-after="%">{{progreso}}</span>
                </div>
              </div>

              <p>En Progreso</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../static/js/plugins/jquery-2.2.4.min.js"></script>
    <script src="../static/js/plugins/jquery.appear.min.js"></script>
    <script src="../static/js/plugins/jquery.easypiechart.min.js"></script>
    <script>
      "use strict";

      var $window = $(window);

      function run() {
        var fName = arguments[0],
          aArgs = Array.prototype.slice.call(arguments, 1);
        try {
          fName.apply(window, aArgs);
        } catch (err) {}
      }

      /* chart
            ================================================== */
      function _chart() {
        $(".b-skills").appear(function () {
          setTimeout(function () {
            $(".chart").easyPieChart({
              easing: "easeOutElastic",
              delay: 3000,
              barColor: "#369670",
              trackColor: "#fff",
              scaleColor: false,
              lineWidth: 21,
              trackWidth: 21,
              size: 250,
              lineCap: "round",
              onStep: function (from, to, percent) {
                this.el.children[0].innerHTML = Math.round(percent);
              },
            });
          }, 150);
        });
      }

      $(document).ready(function () {
        run(_chart);
      });
    </script>
  </div>

  <div class="div-notificacion" style="display: none;">
    <label class="texto-encabezado-nav">Notificaciones</label>
    <a class="close" href="#" onclick="notificacion()">&times;</a>
    <hr />
    <div class="container">
      {% if soli%} {%set mostrarnot = [] %} {%set solicitador = []%}{% for list
      in soli %} {% if list.NombreEstado == "Pendiente"%} {%do
      mostrarnot.append(1)%}{%do solicitador.append(list.Nombre) %} {% endif%}
      {%endfor%} {% if mostrarnot %}
      <a href="#" OnClick="notificacion1()"
        >Tiene una Solicitud Pendiente de {{solicitador[0]}}</a
      >
      {%else%}
      <p>sin notificaciones</p>
      {% endif%} {%else%}
      <p>sin notificaciones</p>
      {% endif%}
    </div>
  </div>
  <div class="div-notificacion1">
    <label class="texto-encabezado-nav">Notificaciones</label>
    <a class="close" href="#" onclick="notificacion1()">&times;</a>
    <div class="container">
      <div class="tabla">
        <form action="/AceptarSoli" method="POST">
          <table class="custab">
            <thead>
              <tr>
                <th>ID Solicitud</th>
                <th>Nombre</th>
                <th>Titulo</th>
                <th>justificacion</th>
                <th>Fecha Solicitud</th>
                <th>Estado</th>
                <th class="text-center">Accción</th>
              </tr>
            </thead>
            <tbody class="cuerpo-tabla">
              {% for fila in soli %} {%if fila.Nombre == solicitador[0] and
              fila.NombreEstado == "Pendiente" %}
              <tr>
                <td>{{ fila.Id_Solicitud }}</td>
                <td>{{ fila.Nombre}}</td>
                <td>{{ fila.Titulo}}</td>
                <td>{{ fila.Justificacion}}</td>
                <td>{{ fila.FechaSoli}}</td>
                <td>{{ fila.NombreEstado}}</td>
                <td class="text-center">
                  <button
                    class="boton-invisible"
                    name="resp"
                    value="{{fila.Id_Solicitud}}"
                    type="submit"
                  >
                    <box-icon
                      name="check-circle"
                      type="solid"
                      color="#58a257"
                    ></box-icon
                    ><box-icon
                      name="x-circle"
                      type="solid"
                      flip="vertical"
                      color="#da1717"
                    ></box-icon>
                  </button>
                </td>
              </tr>
              {%endif%} {% endfor %}
            </tbody>
          </table>
        </form>
      </div>
    </div>
  </div>
  <div class="div-reportes" style="display: none;">
    <label class="texto-encabezado-nav">Reportes</label>
    <a class="close" href="#" onclick="reporte()">&times;</a>
    <a class="opc-reporte" href="#" onclick="reportellen()">Generar</a>

    <hr />
    <div class="div-card">
      {%if rep %} {%for list in rep %}
      <div class="cartas">
        <img
          class="imagen-rep"
          src="{{list.Imagen}}"
          alt="Card image cap"
          width="365px"
          height="200px"
        />
        <div class="card">
          <p>Titulo Reporte: {{list.Titulo}}</p>
          <p>Porcentaje: {{list.Porcentaje}}</p>
          <p>Descripcion: {{list.Descripcion}}</p>
          <p>Cliente: {{list.Cliente}}</p>
          <p>Correo: {{list.Correo}}</p>
          <p>Hora Ingreso: {{list.HoraIngreso}}</p>
          <p>Hora Egreso: {{list.HoraEgreso}}</p>
          <p>Empleado: {{list.Nombre}}</p>
          <a href="{{ url_for( 'reporteprint' ,rep=list.Id_Reporte) }}">
            <box-icon type="solid" name="file-pdf"></box-icon
          ></a>
        </div>
      </div>
      {%endfor%} {%else%}
      <h2>No se encontraron Reportes</h2> {%endif%}
    </div>
  </div>
  <div class="div-reportes-llenar" style="display: none;">
    <label class="texto-encabezado-nav">Generar Reporte</label>
    <a class="close" href="#" onclick="reportellen()">&times;</a>
    <hr />
    <br />
    <form id="addReport" enctype="multipart/form-data">
      <div class="form-group">
        <label for="exampleFormControlInput1">Nombre Tarea</label>
        <input
          type="text"
          class="form-control"
          name="tarea"
          id="exampleFormControlInput1"
          placeholder="Nombre"
          value=""
        />
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Cliente</label>
        <input
          type="text"
          class="form-control"
          name="cliente"
          id="exampleFormControlInput1"
          placeholder="Cliente"
          value=""
        />
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Contacto</label>
        <input
          type="text"
          class="form-control"
          name="contacto"
          id="exampleFormControlInput1"
          placeholder="Contacto"
          value=""
        />
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Correo Electrónico</label>
        <input
          type="email"
          class="form-control"
          name="correo"
          id="exampleFormControlInput1"
          placeholder="Correo Electrónico"
          value=""
        />
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Hora Ingreso</label>
        <input
          type="datetime"
          class="form-control"
          name="horaent"
          id="exampleFormControlInput1"
          placeholder="Hora Ingreso"
          value=""
        />
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Hora Egreso</label>
        <input
          type="datetime"
          class="form-control"
          name="horasal"
          id="exampleFormControlInput1"
          placeholder="Hora Egreso"
          value=""
        />
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Porcentaje Completado</label>
        <input
          type="number"
          class="form-control"
          name="porcentaje"
          id="exampleFormControlInput1"
          placeholder="Porcentaje"
          value=""
        />
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Descripción</label>
        <textarea
          class="form-control"
          name="descripcion"
          id="exampleFormControlTextarea1"
          rows="3"
          value=""
        ></textarea>
      </div>
      <div class="form-group">
        <label for="exampleFormControlFile1"
          >Insertar Imagen de los Avances</label
        >
        <input
          type="file"
          class="form-control-file"
          name="imagen"
          id="exampleFormControlFile1"
          value=""
        />
      </div>
      <label for="signature">Firma Digital</label>
      <canvas
        id="signature"
        style="display: block; border: 1px solid black; margin-left: 100px;"
      ></canvas>

      <br />
      <div style="text-align: center;">
        <input type="button" id="reset" value="Limpiar" />
      </div>

      <button type="button" class="btn btn-primary" onclick="saveReport(event)"
        >Enviar</button
      >
    </form>
  </div>
  <div class="div-tareas">
    <label class="texto-encabezado-nav">Tarea</label>

    <hr />
    <div class="tareas">
      {%if var1 %}
      <h2>Proyecto: {{var1[0].NombreProyecto}}</h2>
      <p>Empleado a Cargo: {{var1[0].Nombre}}</p>
      <table class="custab">
        <thead>
          <tr>
            <th>Nombre Tarea</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Descripcion</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody class="cuerpo-tabla">
          {%for fila in var1%} {%if fila%}
          <tr>
            <td>{{ fila.Titulo }}</td>
            <td>{{ fila.FechaInicioEstimado}}</td>
            <td>{{ fila.FechaFinEstimado}}</td>
            <td>{{ fila.Descripcion}}</td>
            {% if fila.NombreEstado == "Completado"%}
            <td class="completo">
              <text class="textoc">{{ fila.NombreEstado}}</text>
            </td>
            {% elif fila.NombreEstado == "Incompleto"%}
            <td class="incompleto">
              <text class="textoi">{{ fila.NombreEstado}}</text>
            </td>
            {%else%}
            <td class="progreso">
              <text class="textop">{{ fila.NombreEstado}}</text>
            </td>
            {% endif%}
          </tr>
          {%else%} {%endif%}{% endfor %}
        </tbody>
      </table>
      <a href="{{url_for( 'ejecucion')}}">Ver mas</a>

      {%else%}
      <h2>No se encontraron tareas</h2>
      <a href="{{url_for( 'ejecucion')}}">Ver mas</a> {%endif%}
    </div>
  </div>
  {%block modal%}{% endblock %}
  <!--Modal reporte -->
  <div class="modal" id="modalReporte">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Reportes</h4>
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          Modal body..
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
{%else%}
<!-- VISTA DE EMPLEADOS -->
<main class="main-cont">
  <div class="div-listaproyecto">
    <label class="texto-encabezado-nav">Mis Proyectos</label>
    <hr />
    <div class="container-emp">
      <div class="tabla-emp">
        <form action="/modals" method="POST">
          <table class="custab-emp">
            <thead>
              <tr>
                <th>ID Proyecto</th>
                <th>Nombre Proyecto</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
                <th>Estado</th>
                <th>Responsable</th>
                <th class="text-center">Action</th>
              </tr>
            </thead>
            <tbody class="cuerpo-tabla-emp">
              {% for fila in proUser %}
              <tr>
                <td>{{ fila.Id_Proyecto }}</td>
                <td>{{ fila.NombreProyecto}}</td>
                <td>{{ fila.FechaHoraInicio}}</td>
                {% if fila.FechaHoraFin == "NULL"%}
                <td>--</td>
                {%else%}
                <td>{{ fila.FechaHoraFin}}</td>
                {% endif%} {% if fila.NombreEstado == "Completado"%}
                <td class="completo">
                  <text class="textoc">{{ fila.NombreEstado}}</text>
                </td>
                {% elif fila.NombreEstado == "Incompleto"%}
                <td class="incompleto">
                  <text class="textoi">{{fila.NombreEstado}}</text>
                </td>
                {%else%}
                <td class="progreso">
                  <text class="textop">{{fila.NombreEstado}}</text>
                </td>
                {% endif%}
                <td>{{ fila.Nombre}}</td>
                <td class="text-center">
                  <a href="{{url_for('modal')}}">
                    <box-icon
                      name="show"
                      type="solid"
                      color="#3075c9"
                    ></box-icon>
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </form>
      </div>
    </div>
    <div class="tareas-emp">
      <label class="texto-encabezado-nav">Tareas Pendiente</label>
      <hr />
      <div class="container-emp">
        <div class="tabla-emp">
          <form action="/modals" method="POST">
            <table class="custab">
              <thead>
                <tr>
                  <th>Nombre Tarea</th>
                  <th>Fecha Inicio</th>
                  <th>Fecha Fin</th>
                  <th>Descripcion</th>
                  <th>Estado</th>
                  <th>Accion</th>
                </tr>
              </thead>
              <tbody class="cuerpo-tabla">
                {%for fila in tar%} {%if fila%}
                <tr>
                  <td>{{ fila.Titulo }}</td>
                  <td>{{ fila.FechaInicioEstimado}}</td>
                  <td>{{ fila.FechaFinEstimado}}</td>
                  <td>{{ fila.Descripcion}}</td>
                  {% if fila.NombreEstado == "Completado"%}
                  <td class="completo">
                    <text class="textoc">{{ fila.NombreEstado}}</text>
                  </td>
                  {% elif fila.NombreEstado == "Incompleto"%}
                  <td class="incompleto">
                    <text class="textoi">{{ fila.NombreEstado}}</text>
                  </td>
                  {%else%}
                  <td class="progreso">
                    <text class="textop">{{ fila.NombreEstado}}</text>
                  </td>
                  {% endif%}
                  <td class="text-center">
                    <a href="{{url_for('modal')}}">
                      <box-icon
                        name="show"
                        type="solid"
                        color="#3075c9"
                      ></box-icon>
                    </a>
                  </td>
                </tr>
                {%else%} {%endif%}{% endfor %}
              </tbody>
            </table>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="div-grafico">
    <label class="texto-encabezado-nav">Mis Estadísticas</label>
    <hr />

    <div class="tareas">
      <p>Tareas Completadas:</p>
      <p>Tareas Pendientes:</p>
      <p>Horas Logeadas:</p>
    </div>
    <label class="texto-encabezado-nav">Mis Reportes</label>
    <hr />
    <div class="tareas">
      {%for fila in repemp%}

      <p>Reporte {{fila.Id_Reporte}}: {{fila.Titulo}}</p>

      {%endfor%}
    </div>
    <label class="texto-encabezado-nav">Mis Solicitudes</label>
    <hr />

    <div class="tareas">
      {%for fila in soliemp%}
      <p>Solicitud {{fila.Id_Solicitud}}: {{fila.Titulo}}</p>
      {%endfor%}
    </div>
  </div>
  <div class="div-solicitud">
    <label class="texto-encabezado-nav">Solicitud</label>
    <a class="close" href="#" onclick="solicitud()">&times;</a>
    <hr />
    <form action="/solicitud" method="POST">
      <div class="form-group">
        <label for="exampleFormControlInput1">Nombre</label>
        <input
          type="text"
          class="form-control"
          name="nombre"
          id="exampleFormControlInput1"
          placeholder="Nombre"
        />
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Titulo Solicitud</label>
        <input
          type="text"
          class="form-control"
          name="titulo"
          id="exampleFormControlInput1"
          placeholder="Titulo"
        />
      </div>

      <div class="form-group">
        <label for="exampleFormControlTextarea1">Justificación</label>
        <textarea
          class="form-control"
          name="justificacion"
          id="exampleFormControlTextarea1"
          rows="3"
        ></textarea>
      </div>
      <div class="col text-center">
        <button type="submit" class="btn btn-primary" type="submit">
          Enviar
        </button>
      </div>
    </form>
  </div>
  <div class="div-notificacion" style="display: none;">
    <label class="texto-encabezado-nav">Notificaciones</label>
    <a class="close" href="#" onclick="notificacion()">&times;</a>
    <hr />
    <div class="container">
      {% if soli%} {%set mostrarnotemp = [] %} {% for list in soli %} {% if
      list.NombreEstado == "Aceptado" and list.Vigencia == 1%} {%do
      mostrarnotemp.append(1)%}{% endif%} {%endfor%} {% if mostrarnotemp %}
      <a href="#" OnClick="notificacion1emp()">Tiene una Solicitud Aprobada</a>
      {%else%}
      <p>sin notificaciones</p>
      {% endif%} {%else%}
      <p>sin notificaciones</p>
      {% endif%}
    </div>
  </div>
  <div class="div-notificacion1emp" style="display: none;">
    <label class="texto-encabezado-nav">Notificaciones</label>
    <a class="close" href="#" onclick="notificacion1emp()">&times;</a>
    <div class="container">
      <div class="tabla">
        <form action="/Vernot" method="POST">
          <table class="custab">
            <thead>
              <tr>
                <th>ID Solicitud</th>
                <th>Nombre</th>
                <th>Titulo</th>
                <th>justificacion</th>
                <th>Fecha Solicitud</th>
                <th>Estado</th>
                <th class="text-center">Accción</th>
              </tr>
            </thead>
            <tbody class="cuerpo-tabla">
              {% for fila in soli %} {%if fila.NombreEstado == "Aceptado" and
              fila.Vigencia == 1 %}
              <tr>
                <td>{{ fila.Id_Solicitud }}</td>
                <td>{{ fila.Nombre}}</td>
                <td>{{ fila.titulo}}</td>
                <td>{{ fila.Justificacion}}</td>
                <td>{{ fila.FechaSoli}}</td>
                <td>{{ fila.NombreEstado}}</td>
                <td class="text-center">
                  <button
                    class="boton-invisible"
                    name="resp"
                    value="0"
                    type="submit"
                  >
                    <box-icon
                      name="check-circle"
                      type="solid"
                      color="#58a257"
                    ></box-icon>
                  </button>
                </td>
              </tr>
              {%endif%} {% endfor %}
            </tbody>
          </table>
        </form>
      </div>
    </div>
  </div>

  <div class="div-reportes-llenar1">
    <label class="texto-encabezado-nav">Generar Reporte</label>
    <a class="close" href="#" onclick="reportellen1()">&times;</a>
    <hr />
    <br />
    <form id="addReport1" enctype="multipart/form-data">
      <div class="contenedor-input">
        <label class="labels" for="exampleFormControlInput1"
          >Nombre Tarea:</label
        >
        <br />
        <input
          type="text"
          class="cajas"
          name="tarea"
          id="exampleFormControlInput1"
          required
          placeholder="Nombre"
          value=""
        />
      </div>
      <div class="contenedor-input">
        <label class="labels" for="exampleFormControlInput1">Cliente:</label>
        <br />
        <input
          type="text"
          class="cajas"
          name="cliente"
          id="exampleFormControlInput1"
          required
          placeholder="Cliente"
          value=""
        />
      </div>
      <div class="contenedor-input">
        <label class="labels" for="exampleFormControlInput1">Contacto:</label>
        <br />
        <input
          type="text"
          class="cajas"
          name="contacto"
          id="exampleFormControlInput1"
          required
          placeholder="Contacto"
          value=""
        />
      </div>
      <div class="contenedor-input">
        <label class="labels" for="exampleFormControlInput1"
          >Correo Electrónico:</label
        >
        <br />
        <input
          type="email"
          class="cajas"
          name="correo"
          id="exampleFormControlInput1"
          required
          placeholder="Correo Electrónico"
          value=""
        />
      </div>
      <div class="contenedor-input">
        <label class="labels" for="exampleFormControlInput1"
          >Hora Ingreso:</label
        >
        <br />
        <input
          type="datetime"
          class="cajas"
          name="horaent"
          id="exampleFormControlInput1"
          required
          placeholder="Hora Ingreso"
          value=""
        />
      </div>
      <div class="contenedor-input">
        <label class="labels" for="exampleFormControlInput1"
          >Hora Egreso:</label
        >
        <br />
        <input
          type="datetime"
          class="cajas"
          name="horasal"
          id="exampleFormControlInput1"
          required
          placeholder="Hora Egreso"
          value=""
        />
      </div>
      <div class="contenedor-input">
        <label class="labels" for="exampleFormControlInput1"
          >Porcentaje Completado:</label
        >
        <br />
        <input
          type="number"
          class="cajas"
          name="porcentaje"
          id="exampleFormControlInput1"
          required
          placeholder="Porcentaje"
          value=""
        />
      </div>
      <div class="contenedor-input">
        <label class="labels" for="exampleFormControlTextarea1"
          >Descripción:</label
        >
        <br />
        <textarea
          class="cajas"
          name="descripcion"
          id="exampleFormControlTextarea1"
          required
          rows="3"
          value=""
        ></textarea>
      </div>
      <div class="contenedor-input">
        <label for="exampleFormControlFile1"
          >Insertar Imagen de los Avances:</label
        ><br /><br />
        <input
          type="file"
          name="imagen"
          id="exampleFormControlFile1"
          value=""
          required
        />
      </div>
      <label for="firma">Firma Digital</label>
      <canvas
        id="firma"
        style="display: block; border: 1px solid #3a90ad; margin-left: 200px;"
      ></canvas>

      <br />
      <div style="text-align: center;">
        <input type="button" id="reset1" value="Limpiar" />
      </div>

      <button type="button" onclick="saveReport1(event)" class="enviar"
        >Enviar</button
      >
    </form>
    <script>
      var canvas2 = document.getElementById("firma");
      var w1 = window.innerWidth;
      var h1 = window.innerHeight;

      // Como el lienzo no tiene ningún tamaño, lo especificaremos con JS
      // El ancho del canvas será el ancho del dispositivo.
      canvas2.width = w1 - 900;
      // La altura del lienzo será (casi) la tercera parte de la altura de la pantalla.
      canvas2.height = h1 / 2.5;

      var signaturePad = new SignaturePad(canvas2, {
        dotSize: 0.5,
      });

      document.getElementById("reset1").addEventListener(
        "click",
        function (e) {
          // Limpia el lienzo
          signaturePad.clear();
        },
        false
      );
      const saveReport1 = (event) => {
        event.preventDefault();
        const formData = new FormData(document.getElementById("addReport1"));
        /*CREAR EL INPUT CON LA IMAGEN*/
        var imageURI = signaturePad.toDataURL();
        const image = document.createElement("input");
        image.setAttribute("type", "image");
        image.src = imageURI;
        image.value = imageURI;
        formData.append("firma", image.value);
        const request = new XMLHttpRequest();
        request.open("POST", "/reporteemp");
        request.onload = () => {
          const data = JSON.parse(request.responseText);
          if (data.status == 200) {
            alert("Reporte creado");
            window.location = "home";
          } else {
            alert("Error al crear el reporte, revise los datos");
          }
        };
        request.send(formData);
      };
    </script>
  </div>

  <!--Modal reporte -->
  <div class="modal" id="modalReporte">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Reportes</h4>
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          Modal body..
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
{% endif%}{% endif%}
<!-- AQUI ESTA EL DIV PARA IMPRIMIR LOS PDFS -->
<div class="div-verpdf" style="display: none;">
  <div class="encabezado-pdf">
    <img
      src="../static/imagenes/Logo SCISA V2.png"
      alt=""
      width="200px"
      height="100px"
    />
    <div class="titulo-pdf"
      ><label class="normal" for=""
        >SERVICIO DE CONSULTORIA E INGENIERIA S.A
      </label>
      <label class="normal" for=""
        >Manolo Morales Bo Manolo Morales Esc Villa</label
      >
      <label class="normal" for=""
        >Venezuela 1C Oeste 4C Sur 20 Vrs Oeste. Managua Nicaragua</label
      >
    </div>
  </div>

  <div class="tabla-pdf"
    >{%for list in repesp%}<label class="no" for=""
      >No:{{list.Id_Reporte}}
    </label>
    <br />
    <label class="normal" for=""
      >Hoja de Servicio Departamento Técnico - Nicaragua
    </label>
    <label class="fecha" for="">Fecha:{{fecha}} </label>

    <hr class="principal" />
  </div>
  <div class="info">
    <label class="titulo" for="">EQUIPO </label>
    <hr class="hr-titulo" />
    <label id="p1">{{list.Id_Reporte}}</label>
    <p>Titulo Reporte:{{list.Titulo}}</p>
    <p>Porcentaje:{{list.Porcentaje}}</p>
    <p>Descripcion: {{list.Descripcion}}</p>
    <p>Cliente:{{list.Cliente}}</p>
    <p>Correo:{{list.Correo}}</p>
    <p>Hora Ingreso: {{list.HoraIngreso}}</p>
    <p>Hora Egreso: {{list.HoraEgreso}}</p>
    <p>Empleado: {{list.Nombre}}</p>
    <p>Imagen:</p>
    <img src="{{list.Imagen}}" alt="" width="200px" height="100px" />
    <p>Firma:</p>
    <img src="{{list.Firma}}" />
    {%endfor%}
    <script>
      addEventListener("DOMContentLoaded", () => {
        validar = document.getElementById("p1").innerHTML;
        if (validar == "") {
        } else {
          elementoParaConvertir = document.querySelector(".div-verpdf"); // <-- Aquí puedes elegir cualquier elemento del DOM
          elementoParaConvertir.style.display = "block";
          html2pdf()
            .set({
              margin: 0.5,
              filename: "Reporte.pdf",
              image: {
                type: "jpeg",
                quality: 0.98,
              },
              html2canvas: {
                scale: 3, // A mayor escala, mejores gráficos, pero más peso
                letterRendering: true,
              },
              jsPDF: {
                unit: "in",
                format: "a3",
                orientation: "portrait", // landscape o portrait
              },
            })

            .from(elementoParaConvertir)
            .save();
          setTimeout(() => {
            elementoParaConvertir.style.display = "none";
          }, 400);
          validar1 = document.getElementById("p1").innerHTML = "";
        }
      });
    </script>
  </div>
  <!----===== FIN HOME ===== -->
  {% endblock %}
</div>
