<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!----===== Boxicons CSS ===== -->
    <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
    <!----===== CSS ===== -->
    <link rel="stylesheet" href="diseño.css">

    <title>navbar</title>
    <!----===== GOOGLE FONT ===== -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap" rel="stylesheet">
    <!----===== JS ===== -->
    <script src="./index.js" defer></script>
</head>

<body>
    <nav class="menu-todo">
        <label class="logo">SCISA</label>
        <ul class="menu_items">
            <li><a href="">Home</a></li>
            <div class="dropdown">
                <button class="dropbtn">Modulos</button>
                <div class="dropdown-content">
                    <a href="#">Cotizacion</a>
                    <a href="#">Facturacion</a>
                    <a href="#">RRHH</a>
                    <a href="#">Planificacion</a>
                    <a href="#">Ejecucion</a>
                </div>
            </div>
            <li><a href="">Ayuda</a></li>
            <li><a href="">Logout</a></li>
        </ul>
        <span class="btn_menu">
            <box-icon name='menu' color="#ffffff"></box-icon>
        </span>
    </nav>

</body>

</html>